<div
    class="modal fade"
    id="app-form-layout"
    role="dialog"
    aria-hidden="true"
>
    <div
        class="modal-dialog modal-xl"
        role="document"
    >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-file-md">
                                <div class="form-file__thumbnail"></div>
                                <button class="btn btn-success">Chọn ảnh</button>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label-md text-right">Tên khách hàng:</label>
                                <div class="col-lg-4">
                                    <input
                                        type="email"
                                        class="form-control"
                                        placeholder="Enter full name"
                                    />
                                </div>
                                <label class="col-lg-2 col-form-label-md text-right">Contact Number:</label>
                                <div class="col-lg-4">
                                    <input
                                        type="email"
                                        class="form-control"
                                        placeholder="Enter contact number"
                                    />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label-md text-right">Nguồn khách hàng:</label>
                                <div class="col-lg-4">
                                    <input
                                        type="email"
                                        class="form-control"
                                        placeholder="Enter full name"
                                    />
                                </div>
                                <label class="col-lg-2 col-form-label-md text-right">Mã số thuế:</label>
                                <div class="col-lg-4">
                                    <input
                                        type="email"
                                        class="form-control"
                                        placeholder="Enter contact number"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button
                    type="reset"
                    class="btn btn-info mr-2"
                >Bỏ qua
                </button>
                <button
                    type="reset"
                    class="btn btn-success"
                >Thêm mới
                </button>
            </div>
        </div>
    </div>
</div>