<div class="dunnio-portlet">
    <!--begin Title-->
    <div class="dunnio-portlet__head dunnio-portlet__head--border">
        <div class="dunnio-portlet__head-label">
            <h3 class="dunnio-portlet__head-title">
                Thiết Kế Đồng Phục
            </h3>
        </div>
    </div>
    <!--end-->
    <form
        class="dunnio-form tab-pane fade show active"
        id="form-create-item-uniform"
    >
        <div class="dunnio-portlet__body dunnio-scroll-data-item">
            <div class="row m-0">
                <!-- begin:: detail item -->
                <div class="col-md-4">
                    <div class="dunnio-section">
                        <h6 class="dunnio-section__title">Thông Tin Cơ Bản</h6>
                        <div class="form-group row">
                            <label class="col-4 pt-2"> Loại Sản Phẩm: </label>
                            <div class="col-8">
                                <select
                                    class="form-control"
                                    name="categories"
                                    (change)="onChangeCategory($event.target.value)"
                                >
                                    <option
                                        *ngFor="let category of categories"
                                        [value]="category?.id"
                                    >
                                        {{ category?.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row pt-3">
                            <label class="col-4 pt-2"> Loại mã vải: </label>
                            <div class="col-8">
                                <ng-select
                                    [items]="fabrics"
                                    bindLabel="fullText"
                                    name="fabric"
                                    placeholder="tìm kiếm.."
                                    [loading]="loading"
                                    (search)="onSearchFabric($event.term)"
                                >
                                    <ng-template
                                        ng-label-tmp
                                        let-item="item"
                                    >
                                        <div *ngIf="model.fabric.id">
                                            Mã vải: <b>{{item.id}}</b>
                                        </div>
                                        <div *ngIf="!model.fabric.id">
                                            Tìm kiếm
                                        </div>
                                    </ng-template>
                                    <ng-template
                                        ng-label-tmp
                                        ng-option-tmp
                                        let-item="item"
                                    >
                                        <div
                                            class="row"
                                            (click)="onSelectFabric(item)"
                                        >
                                            <div class="col-6">
                                                <b>Mã:</b> {{item.id}}
                                            </div>
                                            <div class="col-6">
                                                <b>Tồn kho:</b>
                                                {{item.total_quantity}}
                                                ({{item?.properties?.unit}})
                                            </div>
                                            <div class="col-6">
                                                <b>Giá:</b> {{item?.price | number}}
                                            </div>
                                        </div>
                                    </ng-template>
                                </ng-select>
                            </div>
                        </div>
                        <h6 class="dunnio-section__title pt-3">Dịch Vụ Mở Rộng</h6>
                        <div
                            class="form-group"
                            *ngFor="let advance of designAdvances"
                        >
                            <label>{{ advance?.name?.vi }}</label>
                            <div class="dunnio-checkbox-list">
                                <label
                                    class="dunnio-checkbox dunnio-checkbox--success"
                                    *ngFor="let option of advance?.values"
                                >
                                    <input
                                        type="checkbox"
                                        (change)="onSelectAdvance(advance?.id, option?.id)"
                                    >
                                    {{ option?.name?.vi }} - <b>{{ option?.price | currency:'VND' }}</b>
                                    <span></span>
                                </label>
                            </div>
                        </div>

                        <h6 class="dunnio-section__title pt-3"> Ghi chú khách hàng:</h6>
                        <div class="form-group">
                            <textarea
                                class="form-control"
                                rows="2"
                                placeholder="ghi chú.."
                                name="note.customer"
                                [(ngModel)]="model.note.customer"
                                #note.customer="ngModel"
                            ></textarea>
                        </div>

                        <h6 class="dunnio-section__title pt-3"> Ghi chú nội bộ:</h6>
                        <div class="form-group">
                            <textarea
                                class="form-control"
                                rows="2"
                                placeholder="ghi chú.."
                                name="note.system"
                                [(ngModel)]="model.note.system"
                                #note.system="ngModel"
                            ></textarea>
                        </div>
                    </div>
                </div>

                <!-- begin:: design item -->
                <div class="col-md-3">
                    <div class="dunnio-section">
                        <h6 class="dunnio-section__title">Thiết Kế Kiểu Dáng</h6>

                        <div class="form-group">
                            <label>Chọn giới tính</label>
                            <div class="dunnio-radio-inline">
                                <label class="dunnio-radio dunnio-radio--success">
                                    <input
                                        type="radio"
                                        name="gender"
                                        [(ngModel)]="model.properties.gender"
                                        checked
                                        value="male"
                                        (click)="onChangeGender('male')"
                                    > Cho Nam
                                    <span></span>
                                </label>
                                <label class="dunnio-radio dunnio-radio--success">
                                    <input
                                        type="radio"
                                        name="gender"
                                        [(ngModel)]="model.properties.gender"
                                        value="female"
                                        (click)="onChangeGender('female')"
                                    > Cho Nữ
                                    <span></span>
                                </label>
                            </div>
                        </div>

                        <div
                            class="form-group dunnio-margin-t-10"
                            *ngFor="let design of designConfigs"
                        >
                            <label>{{ design?.name.vi }}</label>
                            <select
                                class="form-control"
                                [name]="design?.id"
                                (change)="onChangeDesign(design?.id, $event.target.value )"
                            >
                                <option
                                    *ngFor="let value of design?.values"
                                    [value]="value?.id"
                                    [selected]="value?.selected"
                                > {{ value?.name?.vi }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- begin:: design extra item -->
                <div class="col-md-5">
                    <div class="dunnio-section">
                        <h6 class="dunnio-section__title">Thiết Kế Nâng Cao</h6>

                        <div
                            class="form-group row"
                            *ngFor="let extra of designExtras"
                        >
                            <label class="col-md-6"> {{ extra?.name?.vi }} </label>
                            <label class="col-md-6"> Tùy Chọn </label>

                            <div class="col-md-6">
                                <select
                                    class="form-control"
                                    [name]="extra.id"
                                    (change)="onChangeExtra(extra?.id, $event.target.value)"
                                >
                                    <option
                                        [value]="value?.id"
                                        *ngFor="let value of extra.values"
                                        [selected]="value?.selected"
                                    > {{ value?.name?.vi }}
                                    </option>
                                </select>
                            </div>

                            <ng-container *ngFor="let value of extra?.values">
                                <div
                                    class="col-md-6"
                                    *ngIf="value?.selected"
                                >
                                    <select
                                        class="form-control"
                                        [name]="value?.id"
                                        [disabled]="!value?.values.length"
                                        (change)="onChangeExtra(extra?.id, value?.id, $event.target.value )"
                                    >
                                        <option
                                            [value]="sub?.id"
                                            *ngFor="let sub of value?.values"
                                            [selected]="sub?.selected"
                                        >{{sub?.id}} -
                                            {{ sub?.price | currency: 'VND' }}
                                        </option>
                                    </select>
                                </div>
                            </ng-container>

                            <div
                                class="col-md-12 dunnio-mt-5"
                                *ngIf="extra?.id === 'initials__text'"
                            >
                                <input
                                    name="initials__text"
                                    class="form-control"
                                    (input)="onChangeInitialText($event)"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="dunnio-portlet">
        <div
            class="dunnio-portlet__foot pb-0"
            style="border-top: 1px solid #C4C4C4;padding-right: 20px;"
        >
            <div class="dunnio-form__actions dunnio-align-right">
                <button
                    type="reset"
                    class="btn btn-info dunnio-margin-l-10"
                    [disabled]="loading"
                    style="width: 150px;"
                    (click)="onResetForm()"
                    [ngClass]="{'dunnio-spinner dunnio-spinner--right dunnio-spinner--md dunnio-spinner--light': loading}"
                >
                    <span class="dunnio-menu__link-text">Làm mới</span>
                </button>
                <button
                    type="button"
                    (click)="onCreateItemUniform()"
                    class="btn btn-success dunnio-margin-l-10"
                    [disabled]="loading"
                    style="width: 150px;"
                    [ngClass]="{'dunnio-spinner dunnio-spinner--right dunnio-spinner--md dunnio-spinner--light': loading}"
                >
                    <span class="dunnio-menu__link-text">Hoàn Thành</span>
                </button>
            </div>
        </div>
    </div>
</div>