<div class="dunnio-portlet">
    <div class="dunnio-portlet__body dunnio-padding-0">
        <!--begin::Section Detail-->
        <div class="dunnio-section">
            <ul
                class="nav nav-tabs  nav-tabs-line nav-tabs-line-success"
                role="tablist"
            >
                <li class="nav-item w-50 m-0">
                    <a
                        class="nav-link active"
                        data-toggle="tab"
                        href="#cart_tab_cusomer"
                        role="tab"
                    >
                        Đơn hàng
                    </a>
                </li>
                <li class="nav-item w-50">
                    <a
                        class="nav-link"
                        data-toggle="tab"
                        href="#cart_tab_extra"
                        role="tab"
                    >
                        Mở rộng
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div
                    class="tab-pane active dunnio-notification dunnio-scroll-info-item"
                    id="cart_tab_cusomer"
                    role="tabpanel"
                >
                    <!-- begin:: section customer -->
                    <div class="dunnio-section__content dunnio-padding-10 dunnio-section__content-border-bt">
                        <div class="form-group row">
                            <div class="col-12 dunnio-ng-select-bottom">
                                <ng-select
                                    (search)="onSearchCustomer($event.term)"
                                    [items]="customers"
                                    (change)="onSelectCustomer($event)"
                                    (clear)="onRemoveCustomer()"
                                    placeholder="tìm kiếm khách hàng..."
                                    bindLabel="fullText"
                                    name="customer"
                                    [loading]="loading.customer"
                                    [(ngModel)]="data.customer"
                                >
                                    <ng-template
                                        ng-label-tmp
                                        ng-option-tmp
                                        let-item="item"
                                    >
                                        <a href="javascript:;">
                                            {{ item.name }} {{ item.phone }}
                                        </a>
                                    </ng-template>
                                </ng-select>
                            </div>
                        </div>
                        <div
                            *ngIf="data.customer"
                            class="row"
                        >
                            <div class="col-6">
                                Điểm tích lũy:{{data?.customer?.total_point | number}}
                            </div>
                            <div class="col-6">
                                Công nợ: {{data?.customer?.total_debt | number}}
                            </div>
                        </div>
                    </div>
                    <div class="dunnio-section__content dunnio-padding-10">
                        <div class="form-group row">
                            <label class="col-7 col-form-label">
                                Chọn nguồn đơn hàng
                            </label>
                            <div class="col-5">
                                <select
                                    class="form-control"
                                    name="source"
                                    aria-placeholder="source"
                                    [(ngModel)]="data.source"
                                    #source="ngModel"
                                >
                                    <option
                                        *ngFor="let source of sources"
                                        [value]="source.id"
                                    >
                                        {{source.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-7 col-form-label">
                                Tổng tiền hàng: ({{data?.total_quantity}} SP)
                            </label>
                            <div class="col-5">
                                <label class="col-form-label col-lable-price">
                                    {{(data?.total_before_discount | number) || 0}}đ
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-7 col-form-label">
                                Giảm giá:
                            </label>
                            <div class="col-5 dunnio-align-right">
                                <button
                                    class="btn dunnio-section__content-w-100"
                                    data-toggle="modal"
                                    data-target="#dunnio_modal_discount_order_tailor"
                                >
                                    {{(data?.total_discount | number) || 0}}đ
                                </button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-7 col-form-label dunnio-section__content-title-price">
                                <b>Khách cần trả:</b>
                            </label>
                            <div class="col-5">
                                <label class="col-form-label col-lable-price dunnio-section__content-price">
                                    {{(data?.total_price < 0 || !data?.total_price) 
                                        ? 0
                                        : data?.total_price | number}}đ
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-5 col-form-label">
                                Khách thanh toán:
                            </label>
                            <button
                                class="col-2 btn"
                                style="box-shadow:0px 0px 0px white;"
                                data-toggle="modal"
                                data-target="#dunnio_modal_payment_order_tailor"
                            >
                                <img src="./assets/media/icons/credit-card-dark.svg" />
                            </button>
                            <div class="col-5">
                                <label class="col-form-label col-lable-price">
                                    {{(data?.total_paid | number) || 0}}đ
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-7 col-form-label">Tiền thừa trả khách: </label>
                            <div class="col-5">
                                <label class="col-form-label col-lable-price">
                                    {{((data?.total_paid - data?.total_price) < 0 ||!(data?.total_paid - data?.total_price) ) 
                                    ? 0
                                    : (data?.total_paid - data?.total_price ) | number}}đ
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-7 col-form-label">
                                <b>Công nợ:</b>
                            </label>
                            <div class="col-5">
                                <label class="col-form-label col-lable-price dunnio-font-danger">
                                    {{(data?.total_unpaid | number) || 0}}đ
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div
                    class="tab-pane dunnio-scroll-info-item"
                    id="cart_tab_extra"
                    role="tabpanel"
                >
                    <div class="dunnio-section__content dunnio-padding-10">
                        <div class="form-group row">
                            <label class="col-5 col-form-label">
                                Chọn Thợ Đo:
                            </label>
                            <div class="col-7">
                                <ng-select
                                    class="p-0"
                                    (search)="onSearchEmployee($event.term,'measure_process')"
                                    (clear)="onRemoveEmployee(1)"
                                    [items]="employees"
                                    bindLabel="fullText"
                                    bindValue="id"
                                    [(ngModel)]="data.measure_process.complete_by"
                                    name="measure_process"
                                    [loading]="loading.measure_process"
                                    placeholder="tìm kiếm nhân viên..."
                                >
                                    <ng-template
                                        ng-label-tmp
                                        ng-option-tmp
                                        let-item="item"
                                    >
                                        <b>Tên: </b> {{ item?.name }}
                                        <b>SĐT: </b> {{ item?.phone }}
                                    </ng-template>
                                </ng-select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-5 col-form-label">
                                Người Tư Vấn:
                            </label>
                            <div class="col-7">
                                <ng-select
                                    class="p-0"
                                    (search)="onSearchEmployee($event.term,'consult_process')"
                                    (clear)="onRemoveEmployee(2)"
                                    [items]="employees"
                                    bindLabel="fullText"
                                    bindValue="id"
                                    [(ngModel)]="data.consult_process.complete_by"
                                    name="consult_process"
                                    [loading]="loading.consult_process"
                                    placeholder="tìm kiếm nhân viên..."
                                >
                                    <ng-template
                                        ng-label-tmp
                                        ng-option-tmp
                                        let-item="item"
                                    >
                                        <b>Tên: </b> {{ item?.name }}
                                        <b>SĐT: </b> {{ item?.phone }}
                                    </ng-template>
                                </ng-select>
                            </div>
                        </div>
                        <div
                            class="form-group row"
                            *ngIf="data?.type ==='tailor_at_home'"
                        >
                            <label class="col-lg-4 col-form-label">Ngày Hẹn Đo:</label>
                            <div class="col-lg-8">
                                <input
                                    type="text"
                                    class="form-control"
                                    name="preview_process.one"
                                    [(ngModel)]="data.measure_process.scheduled_at"
                                    #preview_process.one="ngModel"
                                    placeholder="dd/mm/yyyy"
                                    placement="bottom"
                                    #datepickerYMD="bsDatepicker"
                                    bsDatepicker
                                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-5 col-form-label">Ngày Thử 1:</label>
                            <div class="col-lg-7">
                                <input
                                    type="text"
                                    class="form-control"
                                    name="preview_process.one"
                                    [(ngModel)]="data.preview_process.one"
                                    #preview_process.one="ngModel"
                                    placeholder="dd/mm/yyyy"
                                    placement="bottom"
                                    #datepickerYMD="bsDatepicker"
                                    bsDatepicker
                                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-5 col-form-label">Ngày Thử 2:</label>
                            <div class="col-lg-7">
                                <input
                                    type="text"
                                    class="form-control"
                                    name="preview_process.two"
                                    [(ngModel)]="data.preview_process.two"
                                    #preview_process.two="ngModel"
                                    placeholder="dd/mm/yyyy"
                                    placement="bottom"
                                    #datepickerYMD="bsDatepicker"
                                    bsDatepicker
                                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                >
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-5 col-form-label">Điểm Thử Đồ:</label>
                            <div class="col-lg-7">
                                <select
                                    class="form-control select-box-drak"
                                    name="preview_process.address"
                                    [(ngModel)]="data.preview_process.address"
                                    #preview_process.address="ngModel"
                                >
                                    <option
                                        *ngFor="let store of serviceStores"
                                        [value]="store.id"
                                    >
                                        {{ store?.name }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-5 col-form-label">Ngày Lấy:</label>
                            <div class="col-lg-7">
                                <input
                                    type="text"
                                    class="form-control"
                                    name="deadline"
                                    [(ngModel)]="data.deadline"
                                    #process.date="ngModel"
                                    placeholder="dd/mm/yyyy"
                                    placement="bottom"
                                    #datepickerYMD="bsDatepicker"
                                    bsDatepicker
                                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                >
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-5 col-form-label">Điểm nhận hàng:</label>
                            <div class="col-lg-7">
                                <select
                                    class="form-control select-box-drak"
                                    name="receive_process.id"
                                    [(ngModel)]="data.receive_process.id"
                                    #receive_process.id="ngModel"
                                >
                                    <option
                                        *ngFor="let store of serviceStores"
                                        [value]="store.id"
                                    >
                                        {{ store?.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- begin:: section note -->
                    <div class="dunnio-portlet__head">
                        <div class="dunnio-portlet__head-label">
                            <h3 class="dunnio-portlet__head-title">
                                Ghi chú
                            </h3>
                        </div>
                    </div>
                    <div class="dunnio-section__content dunnio-padding-10">
                        <div class="form-group row">
                            <label class="col-4 col-form-label"> Khách hàng: </label>
                            <div class="col-8">
                                <textarea
                                    class="form-control"
                                    rows="1"
                                    placeholder="ghi chú.."
                                    name="note.customer"
                                    [(ngModel)]="data.note.customer"
                                    #note.customer="ngModel"
                                ></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-4 col-form-label"> Nội bộ: </label>
                            <div class="col-8">
                                <textarea
                                    class="form-control"
                                    rows="1"
                                    placeholder="ghi chú.."
                                    name="note.system"
                                    [(ngModel)]="data.note.system"
                                    #note.system="ngModel"
                                ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Section Detail-->
    </div>

    <div class="dunnio-portlet__foot">
        <div class="dunnio-form__actions">
            <button
                type="button"
                class="btn btn-success"
                style="width: 100%;border-radius: 0px;"
                (click)="onConfirmCartInfo()"
            >
                Tạo Đơn Hàng
            </button>
        </div>
    </div>
</div>