<!-- begin:: Page -->
<div class="dunnio-grid dunnio-grid--hor dunnio-grid--root">
    <div class="dunnio-grid__item dunnio-grid__item--fluid dunnio-grid dunnio-grid--ver dunnio-page">
        <div class="dunnio-grid__item dunnio-grid__item--fluid dunnio-grid dunnio-grid--hor dunnio-wrapper">
            <!-- begin::Container -->
            <div class="dunnio-grid__item dunnio-grid__item--fluid dunnio-grid dunnio-grid--ver dunnio-grid--stretch">
                <router-outlet></router-outlet>
            </div>
            <!-- end::Container -->
        </div>
    </div>
</div>
<!-- end:: Page -->