.c-popover-xs {
    max-width: 250px;
    width: 250px;
}

.c-popover-sm {
    max-width: 576px;
    width: 576px;
}

.c-popover-md {
    max-width: 768px;
    width: 768px;
}

.c-popover-lg {
    max-width: 1024px;
    width: 1024px;
}

.c-popover-xl {
    max-width: 1399px;
    width: 1399px;
}