.card {
    box-shadow: $c-elevate-shadow, $c-elevate-shadow;
    margin-bottom: 1.5rem;

    &--border {
        border: 1px solid #707070;
    }
}

.card-header {
    &-pointer {
        cursor: pointer;
    }
    
    &-light {
        background-color: c-base-color(light, 3);
        font-weight: bold;
        font-size: .8rem;
    }
}