<div class="c-warpper">
    <div class="c-warpper__right">
        <section class="c-right__header">
            <div class="row mb-3">
                <div class="col-md-8">
                    <a
                        routerLink="/inventory/exports"
                        class="back text-dark"
                    >
                        &lt; Xuất kho
                    </a>
                    <h4>Tạo đơn xuất kho</h4>
                </div>
            </div>
        </section>

        <section class="c-right__content">
            <form
                class="form row"
                autocomplete="off"
                (ngSubmit)="onCreate()"
            >
                <div class="col-md-8">
                    <app-search-item
                        [items]="model?.items || []"
                        [storeId]="model?.source?.id"
                        [quantity]="model?.total_quantity"
                        (callback)="handleSeachChange($event)"
                    >
                    </app-search-item>
                </div>
                <div class="col-md-4">
                    <div class="card card--border">
                        <div class="card-body">
                            <h6 style="font-size: 20px; font-weight: bold; margin-bottom: 20px">
                                Loại phiếu xuất kho
                            </h6>
                            <div class="form-group">
                                <div class="c-radio-list row mr-0 ml-0">
                                    <label class="c-radio c-radio--success col-md-6">
                                        <input
                                            [value]="1"
                                            name="type"
                                            type="radio"
                                            [(ngModel)]="model.type"
                                        />
                                        <span style="width: 25px; height: 25px;"></span>
                                        <h6 class="mt-1 ml-2">Nội bộ</h6>
                                    </label>
                                    <label class="c-radio c-radio--success col-md-6">
                                        <input
                                            [value]="2"
                                            name="type"
                                            type="radio"
                                            [(ngModel)]="model.type"
                                        />
                                        <span style="width: 25px; height: 25px;"></span>
                                        <h6 class="mt-1 ml-2">Bên ngoài</h6>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card--border">
                        <div class="card-body">
                            <h6 style="font-size: 20px; font-weight: bold; margin-bottom: 20px">
                                Thông tin kho xuất
                            </h6>
                            <div class="form-group">
                                <select
                                    name="source"
                                    type="text"
                                    class="form-control"
                                    placeholder="kho xuất"
                                    (change)="onChangeSource($event)"
                                >
                                    <option
                                        [value]="source?.id"
                                        *ngFor="let source of privateStores"
                                    >
                                        {{source?.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="card card--border">
                        <!-- Chuyển hàng -->
                        <div
                            class="card-body"
                            *ngIf="model.type === 1"
                        >
                            <h6 style="font-size: 20px; font-weight: bold; margin-bottom: 20px">
                                Thông tin kho nhận
                            </h6>
                            <div class="form-group">
                                <select
                                    name="store"
                                    type="text"
                                    class="form-control"
                                    placeholder="kho xuất"
                                    [(ngModel)]="model.store"
                                >
                                    <option [value]={}>
                                        Lựa chọn kho
                                    </option>
                                    <option
                                        [ngValue]="store"
                                        *ngFor="let store of publicStores"
                                    >
                                        {{store?.name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <!-- Xuất hàng -->
                        <div
                            class="card-body"
                            *ngIf="model.type === 2"
                        >
                            <h6 style="font-size: 20px; font-weight: bold; margin-bottom: 20px">
                                Thông tin kho nhận
                            </h6>
                            <div class="form-group row mr-0">
                                <label class="col-md-4 mt-2">Họ tên:</label>
                                <input
                                    type="text"
                                    name="store_name"
                                    class="form-control col-md-8"
                                    placeholder="nhập tên nguồn nhập"
                                    [(ngModel)]="model.store.name"
                                />
                            </div>
                            <div class="form-group row mr-0">
                                <label class="col-md-4 mt-2">Điện thoại:</label>
                                <input
                                    type="text"
                                    name="store_phone"
                                    class="form-control col-md-8"
                                    placeholder="nhập số điện thoại nguồn nhập"
                                    [(ngModel)]="model.store.phone"
                                />
                            </div>
                            <div class="form-group row mr-0">
                                <label class="col-md-4 mt-2">Địa chỉ:</label>
                                <input
                                    type="text"
                                    name="store_address"
                                    class="form-control col-md-8"
                                    placeholder="nhập địa chỉ nguồn nhập"
                                    [(ngModel)]="model.store.address"
                                />
                            </div>
                        </div>
                    </div>


                    <div class="card card--border">
                        <div class="card-body">
                            <h6 style="font-size: 20px; font-weight: bold; margin-bottom: 20px">
                                Thông ghi chú
                            </h6>
                            <div class="form-group">
                                <textarea
                                    name="note"
                                    class="form-control"
                                    placeholder="nhập ghi chú"
                                    [(ngModel)]="model.note"
                                ></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- begin:: form foot -->
                <div
                    class="col-md-12 text-right"
                    style="border-top: 1px solid #707070; padding: 20px 0;"
                >
                    <button
                        type="submit"
                        class="btn btn-sm btn-success"
                    >
                        Thêm mới
                    </button>
                </div>
                <!-- end:: form foot -->
            </form>
        </section>
    </div>
</div>