<ngx-datatable
    class="c-datatable"
    selectionType="checkbox"
    (select)="onRowSelected($event)"
    [summaryPosition]="summaryPosition"
    [summaryRow]="summaryRow"
    [columnMode]="columnMode"
    [virtualization]="false"
    [headerHeight]="50"
    [scrollbarV]="true"
    [scrollbarH]="true"
    [selected]="[]"
    [rowHeight]="40"
    [rows]="rows"
>
    <!-- begin:: checkbox collum -->
    <ngx-datatable-column
        [width]="30"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        *ngIf="checkbox"
    >
        <ng-template
            ngx-datatable-header-template
            let-allRowsSelected="allRowsSelected"
            let-selectFn="selectFn"
            let-value="value"
        >
            <input
                type="checkbox"
                [checked]="allRowsSelected"
                (change)="selectFn(!allRowsSelected)"
            />
        </ng-template>
        <ng-template
            ngx-datatable-cell-template
            let-value="value"
            let-isSelected="isSelected"
            let-onCheckboxChangeFn="onCheckboxChangeFn"
        >
            <input
                type="checkbox"
                [checked]="isSelected"
                (change)="onCheckboxChangeFn($event)"
            />
        </ng-template>
    </ngx-datatable-column>
    <!-- end:: checkbox collum -->

    <ngx-datatable-column
        *ngFor="let col of dataCollums"
        [summaryFunc]="col?.summaryFunc || null"
        [width]="col?.width"
        [name]="col.name"
        [prop]="col.id"
    >
        <ng-template
            ngx-datatable-cell-template
            let-value="value"
            let-row="row"
        >
            <span *ngIf="col.type === 'modal'">
                <a
                    href="javascript:void(0)"
                    (click)="openModal(col.to, row.id)"
                >
                    {{ value }}
                </a>
            </span>

            <span *ngIf="col.type === 'link'">
                <div *ngIf="value === 'Tổng'"> {{ value }}</div>
                <a
                    *ngIf="value !== 'Tổng'"
                    routerLink="/{{col.to}}/{{row.id}}"
                >
                    {{ value }}
                </a>
            </span>

            <span *ngIf="col.type === 'object'">
                {{ row[col.id][col.index] }}
            </span>

            <span *ngIf="col.type === 'number'">
                {{ row[col.id] | number }}
            </span>

            <span *ngIf="col.type === 'text'">
                {{ row[col.id] }}
            </span>
        </ng-template>
    </ngx-datatable-column>
    <!-- begin:: base collum -->
</ngx-datatable>