<nav class="c-header__bottom">
    <div class="c-container">
        <div class="d-flex justify-content-between">
            <ul class="menu">
                <li class="menu__list">
                    <a
                        href=""
                        class="menu__link"
                    >
                        <img src="./assets/media/icons/users-light.svg">
                        Khách hàng (F1)
                    </a>
                    <div class="drop-menu">
                        <ul class="drop-list">
                            <li class="drop-item">
                                <a routerLink="/customers">
                                    <span class="dot"></span>
                                    Quản lý khách hàng
                                </a>
                            </li>
                            <li class="drop-item">
                                <a routerLink="/customer-group">
                                    <span class="dot"></span>
                                    Quản lý nhóm khách hàng
                                </a>
                            </li>
                            <li class="drop-item">
                                <a routerLink="/customer-rank">
                                    <span class="dot"></span>
                                    Quản lý rank khách hàng
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu__list">
                    <a
                        href=""
                        class="menu__link"
                    >
                        <img src="./assets/media/icons/invoice-light.svg">
                        Đơn hàng (F2)
                    </a>
                    <div class="drop-menu">
                        <ul class="drop-list">
                            <li class="drop-item">
                                <a routerLink="/orders">
                                    <span class="dot"></span>
                                    Trang chủ
                                </a>
                            </li>
                            <li class="drop-item">
                                <a routerLink="/orders/pending">
                                    <span class="dot"></span>
                                    Chờ thu ngân
                                </a>
                            </li>
                            <li class="drop-item">
                                <a routerLink="/orders/tailor">
                                    <span class="dot"></span>
                                    Đơn may đo
                                </a>
                            </li>
                            <li class="drop-item">
                                <a routerLink="/orders/sale_available">
                                    <span class="dot"></span>
                                    Đơn bán sẵn
                                </a>
                            </li>
                            <li class="drop-item">
                                <a routerLink="/orders/service">
                                    <span class="dot"></span>
                                    Đơn bảo hành sửa chữa
                                </a>
                            </li>
                            <li class="drop-item">
                                <a routerLink="/orders/tailor_at_home">
                                    <span class="dot"></span>
                                    Đơn may đo tại nhà
                                </a>
                            </li>
                            <li class="drop-item">
                                <a routerLink="/orders/uniform">
                                    <span class="dot"></span>
                                    Đơn đồng phục
                                </a>
                            </li>
                            <li class="drop-item">
                                <a routerLink="/orders/ecommerce">
                                    <span class="dot"></span>
                                    Đơn online
                                </a>
                            </li>
                            <li class="drop-item">
                                <a routerLink="/orders/payments">
                                    <span class="dot"></span>
                                    Đã thu trong kỳ
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu__list">
                    <a
                        href=""
                        class="menu__link"
                    >
                        <img src="./assets/media/icons/sew-light.svg">
                        Sản xuất (F3)
                    </a>
                    <div class="drop-menu">
                        <ul class="drop-list">
                            <li class="drop-item">
                                <a routerLink="/productions">
                                    <span class="dot"></span>
                                    Quản lý sản xuất
                                </a>
                            </li>
                            <li class="drop-item">
                                <a routerLink="/process">
                                    <span class="dot"></span>
                                    Giai đoạn sản xuất
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu__list">
                    <a
                        href=""
                        class="menu__link"
                    >
                        <img src="./assets/media/icons/truck-light.svg">
                        Kho hàng (F4)
                    </a>
                    <div class="drop-menu">
                        <ul class="drop-list">
                            <li class="drop-item">
                                <a routerLink="/inventory/materials">
                                    <span class="dot"></span>
                                    Quản lý nguyên phụ liệu
                                </a>
                            </li>
                            <li class="drop-item">
                                <a routerLink="/inventory/product-availables">
                                    <span class="dot"></span>
                                    Quản lý sản phẩm bán sẵn
                                </a>
                            </li>
                            <li class="drop-item">
                                <a routerLink="/inventory/product-services">
                                    <span class="dot"></span>
                                    Quản lý sản phẩm may đo
                                </a>
                            </li>
                            <li class="drop-item">
                                <a routerLink="/inventory/productions">
                                    <span class="dot"></span>
                                    Chuẩn bị sản xuất
                                </a>
                            </li>
                            <li class="drop-item">
                                <a routerLink="/inventory/imports">
                                    <span class="dot"></span>
                                    Nhập kho
                                </a>
                            </li>
                            <li class="drop-item">
                                <a routerLink="/inventory/exports">
                                    <span class="dot"></span>
                                    Xuất kho
                                </a>
                            </li>
                            <li class="drop-item">
                                <a routerLink="/inventory/stock-takes">
                                    <span class="dot"></span>
                                    Kiểm kho
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu__list">
                    <a class="menu__link">
                        <img src="./assets/media/icons/cog-light.svg">
                        Cấu hình
                    </a>
                    <div class="drop-menu">
                        <ul class="drop-list">
                            <li class="drop-item">
                                <a routerLink="/setting/roles">
                                    <span class="dot"></span>
                                    Quản lý chức vụ
                                </a>
                            </li>
                            <li class="drop-item">
                                <a routerLink="/setting/staffs">
                                    <span class="dot"></span>
                                    Quản lý nhân sự
                                </a>
                            </li>
                            <li class="drop-item">
                                <a routerLink="/setting/stores">
                                    <span class="dot"></span>
                                    Quản lý chi nhánh
                                </a>
                            </li>
                            <li class="drop-item">
                                <a routerLink="/setting/price-books">
                                    <span class="dot"></span>
                                    Quản lý loại chất
                                </a>
                            </li>
                            <li class="drop-item">
                                <a routerLink="/setting/product-types">
                                    <span class="dot"></span>
                                    Quản lý loại nguyên phụ liệu
                                </a>
                            </li>
                            <li class="drop-item">
                                <a routerLink="/setting/materials">
                                    <span class="dot"></span>
                                    Quản lý nguyên phụ liệu
                                </a>
                            </li>
                            <li class="drop-item">
                                <a routerLink="/setting/products">
                                    <span class="dot"></span>
                                    Quản lý sản phẩm bán sẵn
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="menu">
                <li class="menu__list">
                    <a
                        class="menu__link"
                        href="sale/tailor"
                    >
                        <img src="./assets/media/icons/cart-light.svg">
                        Bán hàng
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>